.Hierarchy > div.content {
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.Hierarchy > div.content .Dropdown {
  border-top-width: 0;
  border-right-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 10px;
}
.Hierarchy > div.content:after {
  content: "";
  height: 100px;
  flex: 0 0 auto;
}
.TreeNode {
  font-family: Inconsolata, monospace;
  display: flex;
  flex-direction: column;
}
.TreeNode .line {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 25px;
  font-size: 20px;
  color: #656870;
}
.TreeNode .line .ellipsis {
  position: relative;
  letter-spacing: -0.25em;
  padding-right: 0.25em;
}
.TreeNode .line .openable {
  position: relative;
  opacity: 0.5;
}
.TreeNode .line .openable .openable {
  opacity: 1;
}
.TreeNode .line .openable.hover {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  text-decoration-color: #bdc3c7;
  text-underline-position: from-font;
}
.TreeNode .line .selectable.hover {
  border-bottom: 1px solid #bdc3c7;
}
.TreeNode .block .line > span > .selectable:before,
.TreeNode .block .line > span > .selectable:after {
  position: absolute;
  border: 0 solid #151820;
  border-width: 3px 0;
  background-clip: content-box;
  z-index: 0;
}
.TreeNode .block .line > span > .selectable:before {
  width: 15px;
  height: 8.25px;
  left: -8px;
  transform: translate(0px, 6.5px);
}
.TreeNode .block .line > span > .selectable:after {
  width: 2px;
  height: 21px;
  left: -1px;
  transform: translate(-0.5px, 0px);
}
.TreeNode .block .line > span > .selectable.directly-null:before,
.TreeNode .block .line > span > .selectable.directly-include.excluded-true:before {
  width: 9px;
  left: -5px;
}
.TreeNode .block .line > span > .selectable.directly-null.included-true:before,
.TreeNode .block .line > span > .selectable.directly-include.excluded-true.included-true:before {
  z-index: 1;
  height: 2px;
  border: 0;
  transform: translate(0px, 9.5px);
}
.TreeNode .block .line > span > .selectable.directly-null:after,
.TreeNode .block .line > span > .selectable.directly-exclude:after {
  height: 15px;
  transform: translate(-0.5px, 3px);
}
.TreeNode .block .line > span > .selectable.included-true:before,
.TreeNode .block .line > span > .selectable.included-true:after {
  content: "";
  background-color: #2ecc71;
}
.TreeNode .block .line > span > .selectable.included-true.someNull-true:before,
.TreeNode .block .line > span > .selectable.included-true.someNull-true:after {
  background-color: #217248;
}
.TreeNode .block .line > span > .selectable.excluded-true:before {
  content: "";
  background-color: #c0392b;
}
.TreeNode .block .line > span > .selectable.excluded-true.someNull-true:before {
  background-color: #6a2825;
}
.TreeNode .line:hover {
  background-color: #252830;
}
.TreeNode .line .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  width: 25px;
  height: 25px;
}
.TreeNode .line .arrow:before {
  content: "";
  width: 10px;
  height: 10px;
  border: 0px solid #656870;
  border-right-width: 1px;
  border-bottom-width: 1px;
  transform: rotate(45deg) translate(-2.5px, -2.5px);
}
.TreeNode .line .arrow.closed:before {
  transform: rotate(-45deg) translate(-2.5px, -2.5px);
}
.TreeNode .line .arrow.leaf:before {
  border-right-width: 0px;
  transform: translate(0, -5px);
}
.TreeNode .line span {
  flex: 1 0 auto;
}
.TreeNode .line .expand {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  flex: 0 0 25px;
}
.TreeNode .line .expand svg {
  fill: #454850;
  max-height: 100%;
}
.TreeNode .line:hover .expand {
  opacity: 1;
}
.TreeNode .block {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  padding-left: 12px;
  border-left: 1px solid #454850;
  position: relative;
}
