.Loading {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  --size: 45px;
  width: var(--size);
  height: var(--size);
  position: relative;
}
.Loading:before,
.Loading:after {
  content: "";
  display: inline-block;
  border: calc(var(--size) * 0.0667) solid transparent;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
  border-radius: 100%;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
}
.Loading:before {
  animation-duration: 2s;
  width: 66.7%;
  height: 66.7%;
}
.Loading:after {
  animation-duration: 1.333s;
  animation-direction: reverse;
  width: 44.4%;
  height: 44.4%;
}
@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
