.Parameters .Parameter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
  margin-top: 10px;
}
.Parameters .Parameter .NameDesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 45px;
  margin-left: 10px;
}
.Parameters .Parameter .NameDesc .name {
  font-size: 20px;
  color: #656870;
}
.Parameters .Parameter.none {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Parameters .Parameter.none > span:not(.Id) {
  color: #656870;
}
