.RawViewer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.RawViewer > .Loading {
  --size: 100px;
  color: #454850;
}
.RawViewer > .inner {
  padding-top: 55px;
  padding-bottom: 150px;
  overflow: auto;
  height: 100%;
  width: 100%;
}
