.NumberParam {
  display: flex;
  margin-left: 5px;
}
.NumberParam input {
  display: inline-block;
  width: 100%;
  height: 40px;
  border: 3px solid #252830;
  border-radius: 5px 0px 0px 5px;
  border-right: none;
  background-color: transparent;
  font-size: 20px;
  font-family: inherit;
  text-align: center;
  color: #bdc3c7;
  transition: border-color 0.2s;
}
.NumberParam.invalid input,
.NumberParam.invalid .incDec * {
  border-color: #c0392b;
}
.NumberParam .incDec {
  display: flex;
  flex-direction: column;
}
.NumberParam .incDec div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 3px solid #252830;
  border-left-width: 2px;
  cursor: pointer;
  margin: 0px;
  font-size: 20px;
  transition: color 0.2s, border-color 0.2s;
}
.NumberParam .incDec div:hover {
  color: #454850;
}
.NumberParam .incDec .inc {
  border-bottom-width: 1px;
  border-top-right-radius: 5px;
}
.NumberParam .incDec .inc:before {
  content: "+";
}
.NumberParam .incDec .dec {
  border-top-width: 1px;
  border-bottom-right-radius: 5px;
}
.NumberParam .incDec .dec:before {
  content: "-";
}
