.ProjectPane .content {
  padding: 10px;
}
.ProjectPane .content .row {
  color: #bdc3c7;
  border: none;
  background: none;
  font: inherit;
  padding: 5px 10px;
  width: 100%;
  cursor: pointer;
}
.ProjectPane .content .row:hover {
  background-color: #252830;
}
.ProjectPane .content .row.selected {
  background-color: #454850;
}
.ProjectPane .content .row.new {
  color: #656870;
}
